<footer class="footer">
  <small>
    The Autool application
    by <a href="https://plus.google.com/108480664925420516043/posts">Arnaud DRAZEK</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   welcome_about_path %></li>
      <li><%= link_to "Contact", welcome_contact_path %></li>
      <li><%= link_to "News", welcome_news_path %></li>
    </ul>
  </nav>
</footer>
